<p id="notice"><%= notice %></p>

<p>
  <strong>Cuisinetype:</strong>

  <%= @category.cuisinetype %>
</p>
 
    <% @restaurants.each do|restaurant| %>
    <p>
    <strong>Restaurant:</strong>
    <%= restaurant.name %> </p>
    <%= link_to 'Make A Reservation', new_restaurant_reservation_path(restaurant)%>
    <% end %>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
